
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adicionar</title>
</head>
<body>
    <h1>Adionado... com sucesso</h1>
    <form action="/Usuario/Form">
        <input type="submit" value="Voltar" />
    </form>
</body>
</html>
