@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Form</title>
    </head>

    <body>
        <div>
            <form action="/Usuario/Adicionar">
                <label for="Nome">Nome: </label>
                <input id="nome" name="usuario.Nome" />
                <label for="Senha">Senha: </label>
                <input type="password" size="8" maxlength="8" name="usuario.Senha" />
                <br />
                <input id="submit" type="submit" value="Cadastrar" />
            </form>
            <br /><br /><br /><br />
            <form action="/Usuario/Busca">
                <h2>Buscar Usuário por ID:</h2>
                <input type="submit" value="Buscar"/>
            </form>
        </div>
    </body>
</html>
