
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormCatProd</title>
</head>
<body>
    <div>
        <form action="/CategoriaProduto/Adicionar">
            <label for="Nome">Nome: </label>
            <input type="text" name="catproduto.Nome" />
            <label for="Descricao">Descrição: </label>
            <input type="text" id="descricao" name="catproduto.Descricao" />
            <br />
            <input id="submit" type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
