
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>FormCatProd</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav nav-tabs" id="navId">
            <li class="nav-item">
                <a href="/Home/Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/Usuario/Form" class="nav-link">Usuário</a>
            </li>
            <li class="nav-item">
                <a href="/Produto/FormProd" class="nav-link">Produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">Categoria de Produto</a>
            </li>
        </ul>
        <br /><br />
        <div>
            <center>
                <form action="/CategoriaProduto/Adicionar">
                    <label for="Nome">Nome: </label>
                    <input type="text" name="catproduto.Nome" />
                    <label for="Descricao">Descrição: </label>
                    <input type="text" id="descricao" name="catproduto.Descricao" />
                    <br />
                    <input id="submit" type="submit" value="Cadastrar" />
                </form>
                <br /><br /><br /><br />
                <form action="/CategoriaProduto/Buscar">
                    <h2>Buscar Todas Categorias dos Produtos:</h2>
                    <input type="submit" value="Buscar" />
                </form>
            </center>
        </div>
    </body>
</html>
