@{ Layout = null; }

<!DOCTYPE html>

<html>
    <head>
        <meta name="author" content="Leonardo e Thomaz" />
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    
    <body> <center>
        <h1>First Page</h1>
        <h2>Ignore isso por enquanto...</h2>
    </center> </body>
</html>
