
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atualizar</title>
</head>
<body>
    <div>
        <h1>Atualizado com Sucesso</h1>
        <form action="/Produto/FormProd">
            <input type="submit" value="Voltar" />
        </form>
    </div>
</body>
</html>
