
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormProd</title>
</head>
<body>
    <div>
        <form action="/Produto/Adicionar">
            <label for="Nome">Nome: </label>
            <input type="text" name="produto.Nome" />
            <label for="Descricao">Descrição: </label>
            <input type="text" id="descricao" name="produto.Descricao" />
            <br />
            <label for="Preco">Preço: </label>
            <input type="number" id="preco" name="produto.Preco" />
            <br />
            <label for="Quantidade">Quantidade: </label>
            <input type="text" id="quantidade" name="produto.Quantidade" />
            <label for="CategoriaId">Id da Categoria: </label>
            <input type="number" id="categoriaid" name="produto.CategoriaID" />
            <br />
            <input id="submit" type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
